<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Programming with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Bookstore index page</h1>
	    <table class="table table-striped">
			<tr>
			<th>Name</th>
			<th>Email</th>
			</tr>
			<tr th:each = "student : ${students}">
			<td th:text="${student.firstName} + ' ' + ${student.lastName}"></td><td th:text="${student.email}"></td>
			</tr>
		</table>
</body>
</html>
